* {
	margin: 0;
	padding: 0;
}

body {
	background: darkseagreen;
	font-family: Roboto, Tahoma, san-serif;
}

#myHomework {
	background-color: pink;
	padding: 50px;
}

#myHomework div {
	box-sizing: border-box;
}

h1 {
	color: saddlebrown;
	margin-bottom: 50px;
}

#myHomework label {
	color: indigo;
	font-weight: bold;
	margin: 10px;
}

#parent-block {
	background-color: green;
	width: 1000px;
	height: 50px;
	border-radius: 10px;
	opacity: 0.5;
	margin-bottom: 30px;
}

#child-block {
	background-color: red;
	width: 50px;
	height: 50px;
	border-radius: 10px;
}

.slidecontainer {
    /*background-color: royalblue;*/
}

#slider {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 30%;
    height: 15px;
    border-radius: 5px;
    background: limegreen;
    outline: none;
    opacity: 0.7;
    /*-webkit-transition: .2s;*/
    transition: opacity .2s;
    /*transform: rotate(-90deg);*/
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: darkgreen;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 25px;
    height: 50px;
    border-radius: 50%;
    background: darkgreen;
    cursor: pointer;
}

.slidecontainer p{
	font-size: 20px;
	color: blue;
}

.slidecontainer p span{
	font-size: 30px;
	font-weight: bold;
	color: blue;
}


/*loading-bar*/
#loading-bar-container {
	box-sizing: border-box;
	background-color: lemonchiffon;
	padding: 50px;
}

#loading-bar {
	width: 60%;
	height: 30px;
	box-sizing: border-box;
	background-color: white;
	border: 1px solid black;
	position: relative;
}

#loading-bar div{
	position: absolute;
	left: 50%;
	top: 50%;
	height: 30px;
	/*box-sizing: border-box;*/
	background-color: black;
	width: 50%;	
	text-align: center;
	justify-content: center;
	color: white;
	align-items: center;
}


/*color-picker*/
#color-picker {
	padding: 50px;
}

#color-picker label{
	font-weight: bold;
	margin-left: 100px;
}

#color-picker input{
	box-sizing: border-box;
	margin-left: 100px;
	display: block;
}

#color-picker #color-display {
	width: 200px;
	height: 200px;
	background-color: white;
	margin-left: 100px;
	margin-bottom: 30px;
	border-radius: 50%;
}

#color-picker #color-code {
	width: 100px;
	height: 30px;
	background-color: white;
	margin-left: 150px;
	margin-bottom: 30px;
	text-align: center;
	border: 1px solid black;
}
